html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#topbar{ /*applogo, settingicon 존재*/
    border: 1px solid black;
    height: 50px;
    background-color: rgb(157, 145, 168);
    justify-content: space-between;
    display: flex;
    
    
}
.applogo{
    border: 1px solid black;
    width: 100px;
    display: flex;
}
.settingicon{
    border: 1px solid black;
    width: 100px;
    display: flex;
}
#infowrap{
    border: 1px solid black;
    display: grid;
}
#abatawrap{
    border: 1px solid black;
    display: grid;
    height: 100px;
}
.abatatext{
    border: 1px solid black;

}
.abataimg{
    border: 1px solid black;
}
#timerwrap{
    border: 1px solid black;
    display: grid;
}
#dailychallengewrap{
    border: 1px solid black;
    display: grid;
}
.dailychallengeinfo{
    border: 1px solid black;
    display: grid;
    text-align: center;
}
#bottombar{
    border: 1px solid black;
    display: grid;
    
}

