/* * {
  margin: 0;
  padding: 0;
} */

.top {
    color: #FFA500;
    text-align: center;
}
.top a {
  color: white;
}
.container {
    text-align: center;
    padding: 70px;
}
a{
    text-decoration: none;
    color: #000;
}
nav {
    background-color: #FFA500;
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 가운데 정렬 */
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
  }
  .fixed-bar {
    background-color: #FFA500;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.fixed-bar span a {
  color: #fff;
}
