/* * { margin: 0; padding: 0;} */

  ul {
    text-align: center;
    text-decoration: none;
  }
  /* bar */
  .top-bar {
    background-color: #FF6347;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .bottom-bar {
    background-color: #FF6347;
    position: fixed;
    bottom: 0; left: 0;
    width: 100%; height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-top: 100px;
  }
  nav ul {
    list-style: none;
    margin: 0; padding: 0;
    display: flex;
    text-decoration: none;
  }
   nav li {
    margin: 0 20px;
    display: flex;
  }
   /*bar 글씨*/
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }

  .container {
    color: #000;
    text-align: center;
    font-weight: 500;
    padding: 10px;
    margin-top: 70px;
    /*??**/
}

 /* .fixed-bar {
    background-color: #FF7F50;
    position: fixed;
    bottom: 0; left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.fixed-bar a {
  color: #fff;
    font-size: 18px;
  
} */
